.skills {
  padding: 3rem 2rem;
  text-align: center;
}

.skills-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black;
}

.skills-description {
  font-size: 1.1rem;
  color: #000000;
}

.donut-chart {
  margin-top: 3rem;
}

.donut-chart h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000000;
}

/* Add animations or transitions if you want to fade in */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills {
    padding: 2rem 1rem;
  }

  .skills-title h2 {
    font-size: 2rem;
  }

  .skills-description {
    font-size: 1rem;
  }

  .donut-chart {
    margin-top: 2rem;
  }

  .donut-chart h3 {
    font-size: 1.5rem;
  }
};
